.signup-page {
    background-color: #fffceb;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .header-section {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .logo-outside {
    width: 300px;
    margin-bottom: 0.5rem;
  }
  
  .description-outside {
    font-size: 1rem;
    color: #780000;
    max-width: 500px;
    margin: 0 auto 1.5rem;
    line-height: 1.5;
  }
  
  .signup-box {
    background-color: white;
    padding: 2.2rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form input {
    width: 70%;
    padding: 10px;
    margin: 0.5rem 0;
    background-color: rgba(143, 133, 133, 0.3); /* אפור שקוף */
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #333;
    font-size: 1rem;
  }
  
  .btn-signup {
    background-color: #538d22;
    color: white;
    border: none;
    padding: 10px;
    width: 65%;
    border-radius: 8px;
    margin-top: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-signup:hover {
    background-color: #1a4301;
  }
  
  .auth-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .image-section {
    width: 65%;
    height: 100vh;
    overflow: hidden;
  }
  
  .login-page {
    width: 45%;
    background-color: #fffceb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .auth-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #fffceb;
  }
  
  .signup-page {
    width: 45%;
    background-color: #fffceb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-section {
    width: 65%;
    height: 100vh;
    background-color: #fffceb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .slider-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-radius: 20px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .image-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  